**Project- Data Analysis (Car Dataset)**

1) Finding all Null Values in the dataset. If there are any null value in any column, then I will fill it with the mean of that column.

2) Checking the different types of Make in the dataset. And, what is the count (occurrence) of each Make in the data ?

3) Showing all the records where Origin is Asia or Europe.

4) Removing all the records (rows) where Weight is above 4000.

5) Increasing all the values of 'MPG_City' column by 3.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Cars Data.csv')

In [3]:
df.head()

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0
2  Acura         TSX 4dr  Sedan   Asia  ...        29.0  3230.0     105.0   183.0
3  Acura          TL 4dr  Sedan   Asia  ...        28.0  3575.0     108.0   186.0
4  Acura      3.5 RL 4dr  Sedan   Asia  ...        24.0  3880.0     115.0   197.0

[5 rows x 15 columns]

In [35]:
df.shape

(432, 15)

In [4]:
df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [18]:
# Finding all Null Values in the dataset. 

df.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

In [7]:
df.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

In [19]:
# Filling the null values with the mean and mode of the column. For object type columns, I used mode and for float type datatype I used mean.

df['Make']= df['Make'].fillna(df['Make'].mode()[0])
df['Model']= df['Model'].fillna(df['Model'].mode()[0])
df['Type']= df['Type'].fillna(df['Type'].mode()[0])
df['Origin']= df['Origin'].fillna(df['Origin'].mode()[0])
df['DriveTrain']= df['DriveTrain'].fillna(df['DriveTrain'].mode()[0])
df['MSRP']= df['MSRP'].fillna(df['MSRP'].mode()[0])
df['Invoice']= df['Invoice'].fillna(df['Invoice'].mode()[0])

In [20]:
df['EngineSize'] = df['EngineSize'].fillna(df['EngineSize'].mean())
df['Cylinders'] = df['Cylinders'].fillna(df['Cylinders'].mean())
df['Horsepower'] = df['Horsepower'].fillna(df['Horsepower'].mean())
df['MPG_City'] = df['MPG_City'].fillna(df['MPG_City'].mean())
df['MPG_Highway'] = df['MPG_Highway'].fillna(df['MPG_Highway'].mean())
df['Weight'] = df['Weight'].fillna(df['Weight'].mean())
df['Wheelbase'] = df['Wheelbase'].fillna(df['Wheelbase'].mean())
df['Length'] = df['Length'].fillna(df['Length'].mean())

In [23]:
#  Checking the different types of Make in the dataset

df['Make'].unique()

array(['Acura', 'Audi', 'BMW', 'Toyota', 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Volkswagen', 'Volvo'],
      dtype=object)

In [24]:
#  count (occurrence) of each Make in the data 

df['Make'].value_counts()

Toyota           32
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Dodge            13
Mitsubishi       13
Jaguar           12
Volvo            12
Hyundai          12
Mazda            11
Pontiac          11
Lexus            11
Subaru           11
Kia              11
Lincoln           9
Mercury           9
Buick             9
Saturn            8
GMC               8
Cadillac          8
Infiniti          8
Suzuki            8
Saab              7
Porsche           7
Acura             7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
MINI              2
Isuzu             2
Hummer            1
Name: Make, dtype: int64

In [28]:
# Records where Origin is Asia or Europe

df[(df['Origin']=='Asia') | (df['Origin']== 'Europe')]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[285 rows x 15 columns]

In [30]:
df[df['Origin'].isin(['Asia', 'Europe'])]

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[285 rows x 15 columns]

In [36]:
# Removing all the records (rows) where Weight is above 4000.

df[~(df['Weight']> 4000)]

      Make                    Model   Type  ...  Weight Wheelbase Length
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5    Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[329 rows x 15 columns]

In [37]:
# Increasing all the values of 'MPG_City' column by 3

df['MPG_City']= df['MPG_City'].apply(lambda x:x+3)